<link rel="stylesheet" href="stylesheets/main.css">
<script type="text/javascript" src="/babylon.js"></script>
<script type="text/javascript" src="/bundle.js"></script>

</script>
<div class="ui">
  UI goes here
</div>

<div class="game">
  <canvas id="render-canvas"></canvas>
</div>
