<link rel="stylesheet" href="stylesheets/main.css">
<link rel="stylesheet"
      href="stylesheets/font-awesome-4.7.0/css/font-awesome.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="/babylon.js"></script>
<script type="text/javascript" src="/bundle.js"></script>

<div class="auth-widget">
  <div class="auth-main">
    <h1>Tactical Warfare</h1>
    <form id="register-form">
      <label>Username:
      <input type="text" placeholder="Username..."/>
      </label>
      <br/>
      <label>Password:
      <input type="password"/>
      </label>
      <br/>
      <input type="submit" value="Register"/>
    </form>
    <form id="signin-form">
      <label>Username:
      <input type="text" placeholder="Username..."/>
      </label>
      <br/>
      <label>Password:
      <input type="password"/>
      </label>
      <br/>
      <input type="submit" value="Sign In"/>
    </form>
    <div class="auth-options">
      <span id="register-button">Register</span> | <span id="signin-button">Sign In</span>
    </div>
  </div>
  <button class="auth-widget-toggle">Sign In</button>
</div>

<div class="active-sockets-widget">
  <button class="active-sockets-toggle">
    <
  </button>
  <div class="active-sockets">
    <div class="current-socket">
    </div>
    <div class="other-active-sockets">
      Online Now: <br>
    </div>
  </div>
</div>

<div class="challenge-received">
  <div class="challenge-message">
  </div>
  <div class="challenge-response-options">
  </div>
</div>

<div class="camera-rotation">
  <i class="fa fa-arrows" aria-hidden="true"></i>
</div>

<div class="camera-zoom">
  <div class="zoom-in">
    <i class="fa fa-search-plus" aria-hidden="true"></i>
  </div>
  <div class="zoom-out">
    <i class="fa fa-search-minus" aria-hidden="true"></i>
  </div>
</div>

<div id="bottom-options">
  <div id="turn-options">
    <div id = "attack-button">Attack</div>
    <div id = "move-button">Move</div>
    <div id = "forfeit-button">Forfeit</div>
  </div>
  <div id ="attack-options">
    <div id="fire-button">Fire</div>
    <div class = "cancel-button">Cancel</div>
  </div>
  <div id="position-options">
    <div class="cancel-button">Cancel</div>
  </div>
</div>


<div class="game">
  <canvas id="render-canvas"></canvas>
</div>
