<link rel="stylesheet" href="stylesheets/main.css">
<script type="text/javascript" src="/babylon.js"></script>
<script type="text/javascript" src="/bundle.js"></script>

<div class="auth-widget">
  <h1>Tactical Warfare</h1>
  <button class="auth-widget-toggle">Play Now</button>
</div>

<div class="camera-widget">
  <div class="camera-actions">

  </div>
  <button class="camera-widget-toggle">></button>
</div>

<div class="game">
  <canvas id="render-canvas"></canvas>
</div>

<script>
  const cameraWidget = document.querySelector('.camera-widget');
  const cameraWidgetToggle = document.querySelector('.camera-widget-toggle');

  cameraWidgetToggle.addEventListener(
    'click',
    () => {
      if (!cameraWidget.style.left || cameraWidget.style.left === '-170px') {
        cameraWidget.style.left = '20px';
        cameraWidgetToggle.innerHTML = '<';
      } else {
        cameraWidget.style.left = '-170px';
        cameraWidgetToggle.innerHTML = '>';
      }
    }
  )
</script>
