body {
  margin: 0;
}

.game{
}
.game > #render-canvas{
  width: 100%;
  height: 100%;
}

/* ---------- auth-ui ---------- */

.auth-ui{
  position: absolute;
}

/* ---------- camera-widget ---------- */

.camera-widget {
  position: absolute;
  background: #EDC9AF;
  box-shadow: 1px 1px 10px #333;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}
